# github repository actions 페이지에 나타날 이름
name: CI/CD using github actions & docker

# event trigger
# main 브랜치에 push가 되었을 때 실행
on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Create application.yml
        run: |
          mkdir -p src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > src/main/resources/application.yml
          cat ./src/main/resources/application.yml

      - name: Run chmod to make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Docker build
        run: |
          docker login -u ${{ secrets.DOCKER_ID }} -p ${{ secrets.DOCKER_PWD }}
          docker buildx build --push --platform linux/amd64 -t ${{ secrets.DOCKER_IMAGE_NAME }} .
#          docker build -t ${{ secrets.DOCKER_IMAGE_NAME }} .
#          docker push ${{ secrets.DOCKER_IMAGE_NAME }}

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER_NAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            sudo docker image prune -af
            sudo docker pull ${{ secrets.DOCKER_IMAGE_NAME }}
            sudo docker stop chat-server-1
            sudo docker run -d --rm --name chat-server-1 -p 8080:8080 ${{ secrets.DOCKER_IMAGE_NAME }}
            sleep 30
            sudo docker stop chat-server-2
            sudo docker run -d --rm --name chat-server-2 -p 8081:8081 ${{ secrets.DOCKER_IMAGE_NAME }}
